<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>🇬🇧 London is the capital of Great Britain.</title>
</head>
<body>
<main class="main background-color-light">
    <div class="container">
        <div class="landing-page">
            <div class="info">
                <h1 class="header">Furniture</h1>
                <h3 class="sub-title">Landing Page</h3>
                <p class="description">
                    The e-Commerce Website design template is easy to customize,
                    making it even easier for you to design your next website or
                    project, and speed up your design workflow.
                </p>
            </div>

            <div class="image">
                <picture>
                    <source srcset="assets/images/big.webp" media="(min-width: 1600px)" />
                    <img src="assets/images/small.webp" alt="Responsive image" />
                </picture>
            </div>

            <ul class="socials">
                <li class="social social-website">
                    <a href="https://uiuxexperts.github.io/portfolio/" target="_blank" rel="noopener noreferrer">
                        https://uiuxexperts.github.io/portfolio/
                    </a>
                </li>
                <li class="social social-dribbble">
                    <a href="https://dribbble.com/aashifasheikh12" target="_blank" rel="noopener noreferrer">
                        aashifasheikh12
                    </a>
                </li>
                <li class="social social-behance">
                    <a href="https://www.behance.net/aashifasheikh12" target="_blank" rel="noopener noreferrer">
                        /aashifasheikh12
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>
